# Local .terraform directories
**/.terraform/*
**/.terraform/
.terraform/
.terraform

# .tfstate files
*.tfstate
*.tfstate.*

# Provider locks
.terraform.lock.hcl

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files
*.tfvars
*.tfvars.json

# Terragrunt cache
.terragrunt-cache/
terragrunt-debug.log
